<div class="education-page">
    <h2>Education</h2>

    <div class="vertical">
        <div class="vertical-title">Pubra F.P School</div>
        <div class="vertical-desc">Class - I to IV (2009-2012)</div>
        <div class="vertical-marks">Marks:90%(Primary)</div>
    </div>
    <hr />

    <div class="vertical">
        <div class="vertical-title">Madanpur Mahesh VidyaMandir</div>
        <div class="vertical-desc">Secondary Education Class - V to X (2013-2019)</div>
        <div class="vertical-marks">Marks: 84% (Class X Board)</div>
    </div>
    <hr />

    <div class="vertical">
        <div class="vertical-title">Kanyapur Polytechnic</div>
        <div class="vertical-desc">Diploma in Computer Science & Technology (2019-2022)</div>
        <div class="vertical-marks">CGPA: 8.8</div>
    </div>
    <hr />

    <section class="higher-education">
        <h3><i class="fa-solid fa-graduation-cap"></i> Higher Education</h3>
        <div class="college-details">
            <h2>NARULA INSTITUTE OF TECHNOLOGY, KOLKATA</h2>
            <h3>B.Tech in Information Technology (Lateral)</h3>
            <h4>CGPA: 8.5</h4>
            <h4>(August 2022 - May 2025)</h4>
        </div>
    </section>
</div>