<footer style="bottom: 0;
    position: fixed;
        left: 0;height: 70px;
    width: 100%;">
    <div class="footer">
        <!-- <div class="footer-first">
                <h3>Sneha's Developer Portfolio</h3>
            </div> -->
        <!-- <div class="footer-second">
                <ul>
                    <li><a (click)="selectSection('about')">Home</a></li>
                    <li><a (click)="selectSection('skills')">Services</a></li>
                    <li><a (click)="selectSection('projects')">Projects</a></li>
                    <li><a (click)="selectSection('experience')">Experience</a></li>
                    <li><a (click)="selectSection('contact')">Contact</a></li>
                </ul> -->
        <!-- </div> -->
        <div class="footer-third">
            <ul>
                <li><a href="https://www.instagram.com/__sneha__sadhu__/" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a></li>
                <li><a href="https://github.com/sadhusneha3" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </li>
                <li><a href="https://twitter.com/SSadhu97928" target="_blank">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
                <li><a href="https://www.linkedin.com/in/sneha-sadhu-479653239/" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a></li>
                <li><a href="https://discord.com/channels/@me" target="_blank">
                        <i class="fa-brands fa-discord"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <section>
        <div class="footer-rights">
            Copyright &copy; snehaportfolio.com | All rights reserved
        </div>
    </section>
</footer>